@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Overskrifter */

h1 {
    font-family: 'Inter';
}

p {
    font-family: 'Inter';
}

/* Knapper */
.blue-btn {
    background-color: white;
    border: 2px solid #19BEE2;
    color: #19BEE2;
    font-family: 'Inter';
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}


/* Header */
header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 25% 
}

