@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Overskrifter */

h1 {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 42px;
    color: #1969E2;
}

h2 {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 32px;
    color: #1969E2;
}

p {
    font-family: 'Inter';
}

/* Knapper */
.blue-btn {
    background-color: white;
    border: 2px solid #19BEE2;
    color: #19BEE2;
    font-family: 'Inter';
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.cta-btn {
    background-color: #19BEE2;
    border: none ;
    color: white;
    font-family: 'Inter';
    padding: 10px 26px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}


/* Header */
header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 25% 
}

/* Hero container */
.hero-container {
    height: 60vh;
    padding: 40px;
}

.hero-container h1 {
    margin-bottom: 30px;
}

.hero-container p {
    margin-bottom: 30px;
}

/* Hvad er FriGo? */
.frigo-container {
    background-color: #F1F0F5;
    padding: 40px;
}

